body {
    background-color: #7a7c81;
}
h1 {
    text-align: center;
    color: rgb(236, 116, 3);
}
h2{
    text-align: center;
    color: rgb(236, 116, 3);
}
h3{
    text-align: left;
    color: rgba(0, 0, 0, 0.671);
}

.Titulo1
{
    text-align: left;
    
}

header {
    padding: 20px 0 0 0;
    background: #1d2124;
    text-align: center;
}

