<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EZ$&Buying</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/stylevendedor.css">
    </head>
<body>

    <header class="site-header">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/"><p></p>EZ$&Buying</p></a>
                <div class="mobile-menu">
                    <a href="#navegacion">
                        <img src="img/barras.svg" alt="Icono menu">
                    </a>
                </div>
                <nav id="navegacion" class="navegacion">
                    
                    <a href="interfazV.html">Mis tiendas</a>
                    
                </nav>
            </div>
        </div>
    </header>

    <h1 class="fw-300 centrar-texto">Tienda 1</h1>
    <img src="images/image.jpg" alt="">

    <main class="contenedor seccion contenido-centrado">
        <div class="resumen-propiedad">
            <p class="precio">$200-$600</p>
            
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus soluta 
            at aliquam neque adipisci officiis delectus sint ratione, itaque nisi 
            cupiditate ex, voluptates sed dolorem eligendi dolore nesciunt harum. Consequuntur!
        Iste porro odio error rem tempore ut magnam perferendis molestiae laborum, 
        repudiandae cum explicabo minima reiciendis sequi neque doloribus id assumenda! 
        Similique qui quae corporis quo dignissimos debitis tempore illum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus soluta 
            at aliquam neque adipisci officiis delectus sint ratione, itaque nisi 
            cupiditate ex, voluptates sed dolorem eligendi dolore nesciunt harum. Consequuntur!
        Iste porro odio error rem tempore ut magnam perferendis molestiae laborum, 
        repudiandae cum explicabo minima reiciendis sequi neque doloribus id assumenda! 
        Similique qui quae corporis quo dignissimos debitis tempore illum!</p>

        <img src="images/image.jpg" alt="">
    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
                <nav class="navegacion">
                    <a href="nosotros.html">Nosotros</a>
                    <a href="anuncios.html">Anuncios</a>
                    <a href="blog.html">Blog</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
                
        </div>
    </footer>

    
</body>
</html>