<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ$&Buying</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/stylevendedor.css">
</head>
<body>
    <header class="site-header inicio">
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/">
                    <p>EZ$&Buying</p>
                </a>

               

                <nav id="navegacion" class="navegacion">
                  <a href="interfazV.html">Mis tiendas</a>
                </nav>

            </div>
            <h1>Bienvenido Vendedor</h1>
        </div>
    </header>

    

    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto">Mis tiendas</h2>
        <div class="contenedor-anuncios">

            <div class="anuncio">
                <img src="images/image.jpg" alt="">
                <div class="contenido.anuncio">
                    <h3>Tienda 1 </h3>
                    <p> Ropa </p>
                    <p class="precio">$200 a $600</p>
                   
                    <a href="anuncio.html" class="boton boton-amarillo d-block">Ver Mi Tienda</a>
                </div>
            </div>
            <div class="anuncio">
                <img src="images/image.jpg" alt="">
                <div class="contenido.anuncio">
                    <h3>Tienda 2 </h3>
                    <p> Electronicos </p>
                    <p class="precio">$1,000 a $25,000</p>
                    
                    <a href="anuncio.html" class="boton boton-amarillo d-block">Ver Mi Tienda</a>
                </div>
            </div>
            <div class="anuncio">
                <img src="images/image.jpg" alt="">
                <div class="contenido.anuncio">
                    <h3>Tienda 3 </h3>
                    <p> Articulos Deportivos </p>
                    <p class="precio">$</p>
                   
                    <a href="anuncio.html" class="boton boton-amarillo d-block">Ver Mi Tienda</a>
                </div>
            </div>

        </div>
        <div class="ver-todas">
            <a href="interfazV.html" class="boton boton-verde">Ver Todas</a>
            <a href="anuncio.html" class="boton boton-rojo">Agregar tienda</a>
        </div>
    </main>

   

    
</body>
</html>